In [2]:
%matplotlib inline

In [3]:
import sys
import numpy as np
import pandas as pd
import re as re
import matplotlib.pyplot as plt
import xgboost as xgb

In [5]:
def myPrint(x):
    print(x.head(15))
    print(x.info())

In [6]:
test_a_wa = pd.read_table('../data/Test-A/wa_test_a.txt', header = None, names = ['uid', 'wa_name', 'visit_cnt', 'visit_dura', 'up_flow', 'down_flow', 'wa_type', 'date'])

In [7]:
myPrint(test_a_wa)

      uid    wa_name  visit_cnt  visit_dura  up_flow  down_flow  wa_type  date
0   u5000   360安全中心网        2.0      1408.0    530.0      515.0      0.0   5.0
1   u5000    DNS查询流量       16.0      2753.0   2856.0     2432.0      0.0  29.0
2   u5000    DNS查询流量       87.0     29164.0  20315.0    16538.0      0.0  30.0
3   u5000    DNS查询流量      143.0     87255.0  28821.0    24335.0      0.0  31.0
4   u5000  GROWINGIO        1.0      1074.0    676.0      340.0      0.0   3.0
5   u5000       IZAT        1.0      1711.0   2069.0    32133.0      0.0  14.0
6   u5000       IZAT        2.0      2454.0   1831.0    32919.0      0.0  16.0
7   u5000       IZAT        2.0        52.0   2118.0    33234.0      0.0   9.0
8   u5000       IZAT        2.0        59.0   1802.0    32883.0      0.0  26.0
9   u5000       IZAT        4.0     10241.0   4016.0    66196.0      0.0   6.0
10  u5000       IZAT        4.0      8537.0   3728.0    66014.0      0.0  19.0
11  u5000       IZAT        5.0      1900.0   3725.0    66135.0      0.0  15.0
12  u5000       IZAT        6.0      1299.0   5751.0    97029.0      0.0  10.0
13  u5000       IZAT        8.0     19763.0   8028.0   136750.0      0.0   8.0
14  u5000       IZAT        9.0       305.0   9833.0   164481.0      0.0  27.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1911736 entries, 0 to 1911735
Data columns (total 8 columns):
uid           object
wa_name       object
visit_cnt     float64
visit_dura    float64
up_flow       float64
down_flow     float64
wa_type       float64
date          float64
dtypes: float64(6), object(2)
memory usage: 116.7+ MB
None

In [8]:
test_a_voice = pd.read_table('../data/Test-A/voice_test_a.txt', header = None, names = ['uid', 'opp_num', 'opp_head', 'opp_len', 'start_time', 'end_time', 'call_type', 'in_out'], dtype = {'opp_num':str})

In [9]:
myPrint(test_a_voice)

      uid                           opp_num  opp_head  opp_len  start_time  \
0   u6540  2ABC4F58C046B50DD47298DF32053102       134       11    44131154
1   u6040  F1C0E170DB3CF853EE28351C06DD8221       137       11    44190203
2   u6040  451C57004D58D4812CF4A921EA34BA2F       158       11    44185843
3   u6726  F6C9D16D29F9EDED557B1A1C5DC29846       187       11    44181450
4   u6726  3B297850FCFB7EDAABB9B42963DAC96E       189       11    44200704
5   u6726  3B297850FCFB7EDAABB9B42963DAC96E       189       11    44195831
6   u6141  97B3B6244E45AF8E88EF7E8DEF80C5B9       158       11    44162258
7   u5241  BA2B79D6F500F53DD32953E981782801       151       11    44084149
8   u5241  A28A49CD1D9348760C32E30ED0D7F4A1        51       12    44111436
9   u5241  B46D0D800A1C233B9FCA84AE1E5077A1       180       11    44153230
10  u6749  F6DDCE0A5A4F121E38060145571A9E85       133       11    44143750
11  u6073  086D9339B81F84E04DEA4AEBD202DF1C       138       11    44161349
12  u6073  799D1A91CE1C385D838BEF2248DD0584       137       11    44073807
13  u6073  4B379934B62FA5B8DFED145F9D3DDC63        35       11    44094529
14  u6073  6CCF1E59ED043CBBFAA6416E6C2D201F       158       11    44085804

    end_time  call_type  in_out
0   44131243          1       1
1   44190319          1       1
2   44190001          1       1
3   44181743          1       1
4   44201604          1       1
5   44200625          1       1
6   44162340          1       1
7   44084301          1       0
8   44111445          1       1
9   44153246          1       1
10  44143815          2       1
11  44161542          1       0
12  44073837          1       1
13  44094731          1       1
14  44085831          1       1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386213 entries, 0 to 386212
Data columns (total 8 columns):
uid           386213 non-null object
opp_num       386213 non-null object
opp_head      386213 non-null int64
opp_len       386213 non-null int64
start_time    386213 non-null int64
end_time      386213 non-null int64
call_type     386213 non-null int64
in_out        386213 non-null int64
dtypes: int64(6), object(2)
memory usage: 23.6+ MB
None

In [10]:
test_a_sms = pd.read_table('../data/Test-A/sms_test_a.txt', header = None, names = ['uid', 'opp_num', 'opp_head', 'opp_len', 'start_time', 'in_out'], dtype = {'opp_num':str})

In [11]:
myPrint(test_a_sms)

      uid                           opp_num  opp_head  opp_len  start_time  \
0   u5020  E85CC82E3F3A6933E678C7D84C0B4E0C       130       11     1080926
1   u5020  E85CC82E3F3A6933E678C7D84C0B4E0C       130       11     1135423
2   u5020  E85CC82E3F3A6933E678C7D84C0B4E0C       130       11     1135423
3   u5020  E85CC82E3F3A6933E678C7D84C0B4E0C       130       11     1141027
4   u5020  E85CC82E3F3A6933E678C7D84C0B4E0C       130       11     1140838
5   u5020  E85CC82E3F3A6933E678C7D84C0B4E0C       130       11     1141804
6   u5020  E85CC82E3F3A6933E678C7D84C0B4E0C       130       11     1145834
7   u5020  E85CC82E3F3A6933E678C7D84C0B4E0C       130       11     1145834
8   u5020  E85CC82E3F3A6933E678C7D84C0B4E0C       130       11     1141658
9   u5020  E85CC82E3F3A6933E678C7D84C0B4E0C       130       11     1141658
10  u5020  D66F003791F85E1090A30F2E4300DBF6       133       11     1201008
11  u5020  E85CC82E3F3A6933E678C7D84C0B4E0C       130       11     1161411
12  u5020  0BCB50371DA55F30D596B9A215EA9F50       106       12     1161409
13  u5020  A18ADF4B1DD5F8FAAE869144F50ACAAD       188       11     1171927
14  u5020  A18ADF4B1DD5F8FAAE869144F50ACAAD       188       11     1172200

    in_out
0        1
1        1
2        1
3        1
4        1
5        1
6        1
7        1
8        1
9        1
10       0
11       1
12       0
13       0
14       0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101689 entries, 0 to 101688
Data columns (total 6 columns):
uid           101689 non-null object
opp_num       101689 non-null object
opp_head      101689 non-null int64
opp_len       101689 non-null int64
start_time    101689 non-null int64
in_out        101689 non-null int64
dtypes: int64(4), object(2)
memory usage: 4.7+ MB
None

In [13]:
test_a_wa[test_a_wa['wa_name'].isnull()]

,uid,wa_name,visit_cnt,visit_dura,up_flow,down_flow,wa_type,date
14169,u5025,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20884,u5037,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31115,u5051,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40435,u5065,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62238,u5095,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67762,u5105,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93252,u5136,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121954,u5170,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130477,u5189,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133391,u5194,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153771,u5215,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169504,u5229,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172394,u5233,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174382,u5240,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198732,u5278,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200323,u5281,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201919,u5287,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203850,u5290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203851,u5291,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203878,u5294,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206390,u5297,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211728,u5310,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217461,u5319,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231190,u5341,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234528,u5350,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237567,u5355,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243445,u5362,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247758,u5369,NaN,NaN,NaN,NaN,NaN,NaN,NaN
287073,u5412,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291559,u5418,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1822660,u6696,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1824752,u6705,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1827205,u6716,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1829481,u6723,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1833502,u6742,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1839507,u6768,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1841280,u6773,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1842733,u6781,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1843070,u6783,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1843972,u6788,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1846917,u6799,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1849717,u6810,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1851239,u6816,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1854197,u6824,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1855857,u6831,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1859475,u6842,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1862206,u6853,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1866559,u6863,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1873800,u6886,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1875727,u6892,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1880114,u6910,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1881851,u6918,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1887139,u6936,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1887509,u6938,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1891077,u6948,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1894050,u6954,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1897667,u6963,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1897668,u6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1901454,u6972,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1908888,u6991,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
test_a_wa_df = test_a_wa[True^test_a_wa['wa_name'].isnull()]

In [17]:
myPrint(test_a_wa_df)

      uid    wa_name  visit_cnt  visit_dura  up_flow  down_flow  wa_type  date
0   u5000   360安全中心网        2.0      1408.0    530.0      515.0      0.0   5.0
1   u5000    DNS查询流量       16.0      2753.0   2856.0     2432.0      0.0  29.0
2   u5000    DNS查询流量       87.0     29164.0  20315.0    16538.0      0.0  30.0
3   u5000    DNS查询流量      143.0     87255.0  28821.0    24335.0      0.0  31.0
4   u5000  GROWINGIO        1.0      1074.0    676.0      340.0      0.0   3.0
5   u5000       IZAT        1.0      1711.0   2069.0    32133.0      0.0  14.0
6   u5000       IZAT        2.0      2454.0   1831.0    32919.0      0.0  16.0
7   u5000       IZAT        2.0        52.0   2118.0    33234.0      0.0   9.0
8   u5000       IZAT        2.0        59.0   1802.0    32883.0      0.0  26.0
9   u5000       IZAT        4.0     10241.0   4016.0    66196.0      0.0   6.0
10  u5000       IZAT        4.0      8537.0   3728.0    66014.0      0.0  19.0
11  u5000       IZAT        5.0      1900.0   3725.0    66135.0      0.0  15.0
12  u5000       IZAT        6.0      1299.0   5751.0    97029.0      0.0  10.0
13  u5000       IZAT        8.0     19763.0   8028.0   136750.0      0.0   8.0
14  u5000       IZAT        9.0       305.0   9833.0   164481.0      0.0  27.0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1911418 entries, 0 to 1911735
Data columns (total 8 columns):
uid           object
wa_name       object
visit_cnt     float64
visit_dura    float64
up_flow       float64
down_flow     float64
wa_type       float64
date          float64
dtypes: float64(6), object(2)
memory usage: 131.2+ MB
None

In [22]:
test_a_wa_df.loc[:,'date'] = test_a_wa_df.loc[:,'date'].astype('int64')

In [23]:
test_a_wa_df.loc[:,['up_flow', 'down_flow']] = test_a_wa_df.loc[:,['up_flow','down_flow']].astype('int64')

In [26]:
test_a_wa_df.loc[:,['visit_dura', 'wa_type']] = test_a_wa_df.loc[:,['visit_dura', 'wa_type']].astype('int64')

In [28]:
test_a_wa_df.loc[:,'visit_cnt'] = test_a_wa_df.loc[:,'visit_cnt'].astype('int64')

In [29]:
myPrint(test_a_wa_df)

      uid    wa_name  visit_cnt  visit_dura  up_flow  down_flow  wa_type  date
0   u5000   360安全中心网          2        1408      530        515        0     5
1   u5000    DNS查询流量         16        2753     2856       2432        0    29
2   u5000    DNS查询流量         87       29164    20315      16538        0    30
3   u5000    DNS查询流量        143       87255    28821      24335        0    31
4   u5000  GROWINGIO          1        1074      676        340        0     3
5   u5000       IZAT          1        1711     2069      32133        0    14
6   u5000       IZAT          2        2454     1831      32919        0    16
7   u5000       IZAT          2          52     2118      33234        0     9
8   u5000       IZAT          2          59     1802      32883        0    26
9   u5000       IZAT          4       10241     4016      66196        0     6
10  u5000       IZAT          4        8537     3728      66014        0    19
11  u5000       IZAT          5        1900     3725      66135        0    15
12  u5000       IZAT          6        1299     5751      97029        0    10
13  u5000       IZAT          8       19763     8028     136750        0     8
14  u5000       IZAT          9         305     9833     164481        0    27
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1911418 entries, 0 to 1911735
Data columns (total 8 columns):
uid           object
wa_name       object
visit_cnt     int64
visit_dura    int64
up_flow       int64
down_flow     int64
wa_type       int64
date          int64
dtypes: int64(6), object(2)
memory usage: 131.2+ MB
None

# voice

In [30]:
test_a_voice_df = test_a_voice

In [31]:
test_a_voice_df.loc[:,'in_out'] = test_a_voice_df.loc[:,'in_out'].astype('int64')

In [32]:
myPrint(test_a_voice_df)

      uid                           opp_num  opp_head  opp_len  start_time  \
0   u6540  2ABC4F58C046B50DD47298DF32053102       134       11    44131154
1   u6040  F1C0E170DB3CF853EE28351C06DD8221       137       11    44190203
2   u6040  451C57004D58D4812CF4A921EA34BA2F       158       11    44185843
3   u6726  F6C9D16D29F9EDED557B1A1C5DC29846       187       11    44181450
4   u6726  3B297850FCFB7EDAABB9B42963DAC96E       189       11    44200704
5   u6726  3B297850FCFB7EDAABB9B42963DAC96E       189       11    44195831
6   u6141  97B3B6244E45AF8E88EF7E8DEF80C5B9       158       11    44162258
7   u5241  BA2B79D6F500F53DD32953E981782801       151       11    44084149
8   u5241  A28A49CD1D9348760C32E30ED0D7F4A1        51       12    44111436
9   u5241  B46D0D800A1C233B9FCA84AE1E5077A1       180       11    44153230
10  u6749  F6DDCE0A5A4F121E38060145571A9E85       133       11    44143750
11  u6073  086D9339B81F84E04DEA4AEBD202DF1C       138       11    44161349
12  u6073  799D1A91CE1C385D838BEF2248DD0584       137       11    44073807
13  u6073  4B379934B62FA5B8DFED145F9D3DDC63        35       11    44094529
14  u6073  6CCF1E59ED043CBBFAA6416E6C2D201F       158       11    44085804

    end_time  call_type  in_out
0   44131243          1       1
1   44190319          1       1
2   44190001          1       1
3   44181743          1       1
4   44201604          1       1
5   44200625          1       1
6   44162340          1       1
7   44084301          1       0
8   44111445          1       1
9   44153246          1       1
10  44143815          2       1
11  44161542          1       0
12  44073837          1       1
13  44094731          1       1
14  44085831          1       1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386213 entries, 0 to 386212
Data columns (total 8 columns):
uid           386213 non-null object
opp_num       386213 non-null object
opp_head      386213 non-null int64
opp_len       386213 non-null int64
start_time    386213 non-null int64
end_time      386213 non-null int64
call_type     386213 non-null int64
in_out        386213 non-null int64
dtypes: int64(6), object(2)
memory usage: 23.6+ MB
None

# sms

In [33]:
test_a_sms_df = test_a_sms

In [34]:
def do2(x):
    x = int(x.replace('u', ''))
    return x
def do(dataset):
    ans = dataset
    ans.loc[:, 'uid'] = ans['uid'].apply(do2)
    
    return ans

In [35]:
test_a_voice_df_2 = do(test_a_voice_df)

In [36]:
test_a_sms_df_2 = do(test_a_sms_df)

In [37]:
test_a_wa_df_2 = do(test_a_wa_df)

In [38]:
myPrint(test_a_wa_df_2)

     uid    wa_name  visit_cnt  visit_dura  up_flow  down_flow  wa_type  date
0   5000   360安全中心网          2        1408      530        515        0     5
1   5000    DNS查询流量         16        2753     2856       2432        0    29
2   5000    DNS查询流量         87       29164    20315      16538        0    30
3   5000    DNS查询流量        143       87255    28821      24335        0    31
4   5000  GROWINGIO          1        1074      676        340        0     3
5   5000       IZAT          1        1711     2069      32133        0    14
6   5000       IZAT          2        2454     1831      32919        0    16
7   5000       IZAT          2          52     2118      33234        0     9
8   5000       IZAT          2          59     1802      32883        0    26
9   5000       IZAT          4       10241     4016      66196        0     6
10  5000       IZAT          4        8537     3728      66014        0    19
11  5000       IZAT          5        1900     3725      66135        0    15
12  5000       IZAT          6        1299     5751      97029        0    10
13  5000       IZAT          8       19763     8028     136750        0     8
14  5000       IZAT          9         305     9833     164481        0    27
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1911418 entries, 0 to 1911735
Data columns (total 8 columns):
uid           int64
wa_name       object
visit_cnt     int64
visit_dura    int64
up_flow       int64
down_flow     int64
wa_type       int64
date          int64
dtypes: int64(7), object(1)
memory usage: 131.2+ MB
None

In [39]:
myPrint(test_a_voice_df_2)

     uid                           opp_num  opp_head  opp_len  start_time  \
0   6540  2ABC4F58C046B50DD47298DF32053102       134       11    44131154
1   6040  F1C0E170DB3CF853EE28351C06DD8221       137       11    44190203
2   6040  451C57004D58D4812CF4A921EA34BA2F       158       11    44185843
3   6726  F6C9D16D29F9EDED557B1A1C5DC29846       187       11    44181450
4   6726  3B297850FCFB7EDAABB9B42963DAC96E       189       11    44200704
5   6726  3B297850FCFB7EDAABB9B42963DAC96E       189       11    44195831
6   6141  97B3B6244E45AF8E88EF7E8DEF80C5B9       158       11    44162258
7   5241  BA2B79D6F500F53DD32953E981782801       151       11    44084149
8   5241  A28A49CD1D9348760C32E30ED0D7F4A1        51       12    44111436
9   5241  B46D0D800A1C233B9FCA84AE1E5077A1       180       11    44153230
10  6749  F6DDCE0A5A4F121E38060145571A9E85       133       11    44143750
11  6073  086D9339B81F84E04DEA4AEBD202DF1C       138       11    44161349
12  6073  799D1A91CE1C385D838BEF2248DD0584       137       11    44073807
13  6073  4B379934B62FA5B8DFED145F9D3DDC63        35       11    44094529
14  6073  6CCF1E59ED043CBBFAA6416E6C2D201F       158       11    44085804

    end_time  call_type  in_out
0   44131243          1       1
1   44190319          1       1
2   44190001          1       1
3   44181743          1       1
4   44201604          1       1
5   44200625          1       1
6   44162340          1       1
7   44084301          1       0
8   44111445          1       1
9   44153246          1       1
10  44143815          2       1
11  44161542          1       0
12  44073837          1       1
13  44094731          1       1
14  44085831          1       1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386213 entries, 0 to 386212
Data columns (total 8 columns):
uid           386213 non-null int64
opp_num       386213 non-null object
opp_head      386213 non-null int64
opp_len       386213 non-null int64
start_time    386213 non-null int64
end_time      386213 non-null int64
call_type     386213 non-null int64
in_out        386213 non-null int64
dtypes: int64(7), object(1)
memory usage: 23.6+ MB
None

In [40]:
test_a_voice_df_2.to_csv('../data/Test-A/test_a_voice_df.csv', index=False)
test_a_sms_df_2.to_csv('../data/Test-A/test_a_sms_df.csv', index=False)
test_a_wa_df_2.to_csv('../data/Test-A/test_a_wa_df.csv', index=False)