In [1]:
%matplotlib inline

In [2]:
import sys
import numpy as np
import pandas as pd
import re as re
import matplotlib.pyplot as plt
import xgboost as xgb

In [3]:
def myPrint(x):
    print(x.head(15))
    print(x.info())

In [5]:
test_b_wa = pd.read_table('../data/Test-B/wa_test_b.txt', header = None, names = ['uid', 'wa_name', 'visit_cnt', 'visit_dura', 'up_flow', 'down_flow', 'wa_type', 'date'])

In [7]:
myPrint(test_b_wa)

      uid  wa_name  visit_cnt  visit_dura  up_flow  down_flow  wa_type  date
0   u7000  139上网导航        1.0        75.0     60.0       76.0      0.0  10.0
1   u7000  139上网导航        2.0      1001.0   2058.0     1131.0      0.0   7.0
2   u7000  139上网导航        3.0      1020.0   1721.0      615.0      0.0  20.0
3   u7000  139上网导航        3.0       370.0   2782.0    12065.0      0.0  23.0
4   u7000  139上网导航        5.0       711.0   1769.0      739.0      0.0   2.0
5   u7000  139上网导航        5.0      8934.0   5933.0    22796.0      0.0   1.0
6   u7000  139上网导航        6.0      9228.0   6819.0    15712.0      0.0  26.0
7   u7000  139上网导航        7.0      8285.0   9316.0    18325.0      0.0   3.0
8   u7000  139上网导航        8.0     16637.0  15256.0    17954.0      0.0  11.0
9   u7000  139上网导航        8.0      7858.0   8869.0     3364.0      0.0  17.0
10  u7000  139上网导航       10.0     12688.0  33456.0   629756.0      0.0  18.0
11  u7000  139上网导航       14.0     19113.0  13871.0    27719.0      0.0  21.0
12  u7000  139上网导航       14.0      6828.0  13337.0    40427.0      0.0  14.0
13  u7000  139上网导航       15.0     16843.0  17845.0    35816.0      0.0   5.0
14  u7000  139上网导航       18.0     21320.0  25093.0    57486.0      0.0  28.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2772972 entries, 0 to 2772971
Data columns (total 8 columns):
uid           object
wa_name       object
visit_cnt     float64
visit_dura    float64
up_flow       float64
down_flow     float64
wa_type       float64
date          float64
dtypes: float64(6), object(2)
memory usage: 169.2+ MB
None

In [8]:
test_b_voice = pd.read_table('../data/Test-B/voice_test_b.txt', header = None, names = ['uid', 'opp_num', 'opp_head', 'opp_len', 'start_time', 'end_time', 'call_type', 'in_out'], dtype = {'opp_num':str})

In [9]:
myPrint(test_b_voice)

      uid                           opp_num  opp_head  opp_len  start_time  \
0   u8925  F5FCD87EA7AF344FF408D4A7842CAEF8       187       11    12122145
1   u8925  06AE2E5A890E9407AD6C0486406B1FD8       159       11    12114240
2   u8884  E97935F68B5C09034E1259A6A4729D93       183       11    12150612
3   u8884  CF8091C4559FEE3D78B5EC86617085EF       183       11    12144742
4   u8884  CADA2EEDD787DF9F882BA75D840FA5F6       136       11    12144405
5   u8884  CADA2EEDD787DF9F882BA75D840FA5F6       136       11    12145820
6   u8884  0B5AD1A584FCB2E418CA7658C40C3F9E       138       11    12145405
7   u8884  CF8091C4559FEE3D78B5EC86617085EF       183       11    12150840
8   u8884  CADA2EEDD787DF9F882BA75D840FA5F6       136       11    12145531
9   u8884  B40F3D84D6D48839CD9C41A685EC3A5E       138       11    12151209
10  u8884  CF8091C4559FEE3D78B5EC86617085EF       183       11    12145246
11  u8884  5436B0685B7D39EA42BE1977C74983B6       133       11    12150001
12  u8884  CF8091C4559FEE3D78B5EC86617085EF       183       11    12063616
13  u8884  CADA2EEDD787DF9F882BA75D840FA5F6       136       11    12152704
14  u8884  CF8091C4559FEE3D78B5EC86617085EF       183       11    12144551

    end_time  call_type  in_out
0   12122302          1       1
1   12114323          1       0
2   12150649          1       0
3   12144953          1       1
4   12144519          1       1
5   12145844          1       1
6   12145430          1       0
7   12150943          1       1
8   12145557          1       0
9   12151230          1       0
10  12145311          1       1
11  12150040          1       0
12  12064119          1       1
13  12152744          1       0
14  12144646          1       0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 609575 entries, 0 to 609574
Data columns (total 8 columns):
uid           609575 non-null object
opp_num       609575 non-null object
opp_head      609575 non-null int64
opp_len       609575 non-null int64
start_time    609575 non-null int64
end_time      609575 non-null int64
call_type     609575 non-null int64
in_out        609575 non-null int64
dtypes: int64(6), object(2)
memory usage: 37.2+ MB
None

In [10]:
test_b_sms = pd.read_table('../data/Test-B/sms_test_b.txt', header = None, names = ['uid', 'opp_num', 'opp_head', 'opp_len', 'start_time', 'in_out'], dtype = {'opp_num':str})

In [11]:
myPrint(test_b_sms)

      uid                           opp_num  opp_head  opp_len  start_time  \
0   u8774  2475F8BAE0386F837075F1F391732DAE       131       11     3084029
1   u9971  2D3AB85C703AC8EF8642CFC8DF5F01DE       156       11     3202228
2   u9971  2D3AB85C703AC8EF8642CFC8DF5F01DE       156       11     3200003
3   u9971  2D3AB85C703AC8EF8642CFC8DF5F01DE       156       11     3101349
4   u9971  2D3AB85C703AC8EF8642CFC8DF5F01DE       156       11     3100814
5   u9771  9783C3AAB5AD009D3F6EBCD4542FE918       132       11     3135825
6   u9759  FA43C66CCD3425FCF1ED66DEC1F1C3E9       132       11     3101546
7   u9759  FA43C66CCD3425FCF1ED66DEC1F1C3E9       132       11     3101733
8   u9759  FA43C66CCD3425FCF1ED66DEC1F1C3E9       132       11     3100521
9   u9759  FA43C66CCD3425FCF1ED66DEC1F1C3E9       132       11     3100521
10  u9759  FA43C66CCD3425FCF1ED66DEC1F1C3E9       132       11     3103543
11  u9759  FA43C66CCD3425FCF1ED66DEC1F1C3E9       132       11     3103543
12  u9759  FA43C66CCD3425FCF1ED66DEC1F1C3E9       132       11     3124647
13  u9759  FA43C66CCD3425FCF1ED66DEC1F1C3E9       132       11     3103527
14  u9759  FA43C66CCD3425FCF1ED66DEC1F1C3E9       132       11     3103527

    in_out
0        1
1        1
2        1
3        1
4        1
5        1
6        1
7        1
8        1
9        1
10       1
11       1
12       1
13       1
14       1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159502 entries, 0 to 159501
Data columns (total 6 columns):
uid           159502 non-null object
opp_num       159502 non-null object
opp_head      159502 non-null int64
opp_len       159502 non-null int64
start_time    159502 non-null int64
in_out        159502 non-null int64
dtypes: int64(4), object(2)
memory usage: 7.3+ MB
None

In [12]:
test_b_wa[test_b_wa['wa_name'].isnull()]

,uid,wa_name,visit_cnt,visit_dura,up_flow,down_flow,wa_type,date
1226,u7001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14536,u7021,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37236,u7048,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37262,u7051,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37342,u7053,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39449,u7059,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52275,u7077,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59789,u7092,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62347,u7096,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65137,u7102,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88099,u7131,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94515,u7139,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100948,u7149,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107962,u7156,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111803,u7158,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135653,u7196,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149241,u7214,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157008,u7224,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157903,u7228,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163107,u7244,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186538,u7266,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193763,u7282,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205882,u7296,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259566,u7360,NaN,NaN,NaN,NaN,NaN,NaN,NaN
281724,u7397,NaN,NaN,NaN,NaN,NaN,NaN,NaN
287843,u7408,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293219,u7422,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297441,u7429,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308434,u7443,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310219,u7447,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2677480,u9639,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2680691,u9654,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2683643,u9665,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2684494,u9668,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2686274,u9676,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2686528,u9678,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2690253,u9689,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2691992,u9694,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2696133,u9707,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2705003,u9744,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2707012,u9754,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2707963,u9758,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2716061,u9785,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2718678,u9802,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2726235,u9826,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2726236,u9827,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2726237,u9828,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2727952,u9839,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2729462,u9846,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2730504,u9850,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2735533,u9871,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2737972,u9880,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2740270,u9887,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2743869,u9900,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2746968,u9909,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2748500,u9916,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2752193,u9928,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2752196,u9930,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2756634,u9951,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2756739,u9954,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
test_b_wa_df = test_b_wa[True^test_b_wa['wa_name'].isnull()]

In [14]:
myPrint(test_b_wa_df)

      uid  wa_name  visit_cnt  visit_dura  up_flow  down_flow  wa_type  date
0   u7000  139上网导航        1.0        75.0     60.0       76.0      0.0  10.0
1   u7000  139上网导航        2.0      1001.0   2058.0     1131.0      0.0   7.0
2   u7000  139上网导航        3.0      1020.0   1721.0      615.0      0.0  20.0
3   u7000  139上网导航        3.0       370.0   2782.0    12065.0      0.0  23.0
4   u7000  139上网导航        5.0       711.0   1769.0      739.0      0.0   2.0
5   u7000  139上网导航        5.0      8934.0   5933.0    22796.0      0.0   1.0
6   u7000  139上网导航        6.0      9228.0   6819.0    15712.0      0.0  26.0
7   u7000  139上网导航        7.0      8285.0   9316.0    18325.0      0.0   3.0
8   u7000  139上网导航        8.0     16637.0  15256.0    17954.0      0.0  11.0
9   u7000  139上网导航        8.0      7858.0   8869.0     3364.0      0.0  17.0
10  u7000  139上网导航       10.0     12688.0  33456.0   629756.0      0.0  18.0
11  u7000  139上网导航       14.0     19113.0  13871.0    27719.0      0.0  21.0
12  u7000  139上网导航       14.0      6828.0  13337.0    40427.0      0.0  14.0
13  u7000  139上网导航       15.0     16843.0  17845.0    35816.0      0.0   5.0
14  u7000  139上网导航       18.0     21320.0  25093.0    57486.0      0.0  28.0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2772475 entries, 0 to 2772971
Data columns (total 8 columns):
uid           object
wa_name       object
visit_cnt     float64
visit_dura    float64
up_flow       float64
down_flow     float64
wa_type       float64
date          float64
dtypes: float64(6), object(2)
memory usage: 190.4+ MB
None

In [20]:
test_b_wa_df.loc[:,'date'] = test_b_wa_df['date'].astype('int64')

In [22]:
test_b_wa_df.loc[:,['up_flow', 'down_flow']] = test_b_wa_df[['up_flow','down_flow']].astype('int64')

In [23]:
test_b_wa_df.loc[:,['visit_dura', 'wa_type']] = test_b_wa_df[['visit_dura', 'wa_type']].astype('int64')

In [24]:
test_b_wa_df.loc[:,'visit_cnt'] = test_b_wa_df['visit_cnt'].astype('int64')

In [25]:
myPrint(test_b_wa_df)

      uid  wa_name  visit_cnt  visit_dura  up_flow  down_flow  wa_type  date
0   u7000  139上网导航          1          75       60         76        0    10
1   u7000  139上网导航          2        1001     2058       1131        0     7
2   u7000  139上网导航          3        1020     1721        615        0    20
3   u7000  139上网导航          3         370     2782      12065        0    23
4   u7000  139上网导航          5         711     1769        739        0     2
5   u7000  139上网导航          5        8934     5933      22796        0     1
6   u7000  139上网导航          6        9228     6819      15712        0    26
7   u7000  139上网导航          7        8285     9316      18325        0     3
8   u7000  139上网导航          8       16637    15256      17954        0    11
9   u7000  139上网导航          8        7858     8869       3364        0    17
10  u7000  139上网导航         10       12688    33456     629756        0    18
11  u7000  139上网导航         14       19113    13871      27719        0    21
12  u7000  139上网导航         14        6828    13337      40427        0    14
13  u7000  139上网导航         15       16843    17845      35816        0     5
14  u7000  139上网导航         18       21320    25093      57486        0    28
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2772475 entries, 0 to 2772971
Data columns (total 8 columns):
uid           object
wa_name       object
visit_cnt     int64
visit_dura    int64
up_flow       int64
down_flow     int64
wa_type       int64
date          int64
dtypes: int64(6), object(2)
memory usage: 190.4+ MB
None

# Voice

In [26]:
test_b_voice_df = test_b_voice

In [27]:
myPrint(test_b_voice_df)

      uid                           opp_num  opp_head  opp_len  start_time  \
0   u8925  F5FCD87EA7AF344FF408D4A7842CAEF8       187       11    12122145
1   u8925  06AE2E5A890E9407AD6C0486406B1FD8       159       11    12114240
2   u8884  E97935F68B5C09034E1259A6A4729D93       183       11    12150612
3   u8884  CF8091C4559FEE3D78B5EC86617085EF       183       11    12144742
4   u8884  CADA2EEDD787DF9F882BA75D840FA5F6       136       11    12144405
5   u8884  CADA2EEDD787DF9F882BA75D840FA5F6       136       11    12145820
6   u8884  0B5AD1A584FCB2E418CA7658C40C3F9E       138       11    12145405
7   u8884  CF8091C4559FEE3D78B5EC86617085EF       183       11    12150840
8   u8884  CADA2EEDD787DF9F882BA75D840FA5F6       136       11    12145531
9   u8884  B40F3D84D6D48839CD9C41A685EC3A5E       138       11    12151209
10  u8884  CF8091C4559FEE3D78B5EC86617085EF       183       11    12145246
11  u8884  5436B0685B7D39EA42BE1977C74983B6       133       11    12150001
12  u8884  CF8091C4559FEE3D78B5EC86617085EF       183       11    12063616
13  u8884  CADA2EEDD787DF9F882BA75D840FA5F6       136       11    12152704
14  u8884  CF8091C4559FEE3D78B5EC86617085EF       183       11    12144551

    end_time  call_type  in_out
0   12122302          1       1
1   12114323          1       0
2   12150649          1       0
3   12144953          1       1
4   12144519          1       1
5   12145844          1       1
6   12145430          1       0
7   12150943          1       1
8   12145557          1       0
9   12151230          1       0
10  12145311          1       1
11  12150040          1       0
12  12064119          1       1
13  12152744          1       0
14  12144646          1       0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 609575 entries, 0 to 609574
Data columns (total 8 columns):
uid           609575 non-null object
opp_num       609575 non-null object
opp_head      609575 non-null int64
opp_len       609575 non-null int64
start_time    609575 non-null int64
end_time      609575 non-null int64
call_type     609575 non-null int64
in_out        609575 non-null int64
dtypes: int64(6), object(2)
memory usage: 37.2+ MB
None

# sms

In [28]:
test_b_sms_df = test_b_sms

In [29]:
def do2(x):
    x = int(x.replace('u', ''))
    return x
def do(dataset):
    ans = dataset
    ans.loc[:, 'uid'] = ans['uid'].apply(do2)
    
    return ans

In [30]:
test_b_voice_df_2 = do(test_b_voice_df)

In [31]:
test_b_sms_df_2 = do(test_b_sms_df)

In [32]:
test_b_wa_df_2 = do(test_b_wa_df)

In [33]:
myPrint(test_b_wa_df_2)

     uid  wa_name  visit_cnt  visit_dura  up_flow  down_flow  wa_type  date
0   7000  139上网导航          1          75       60         76        0    10
1   7000  139上网导航          2        1001     2058       1131        0     7
2   7000  139上网导航          3        1020     1721        615        0    20
3   7000  139上网导航          3         370     2782      12065        0    23
4   7000  139上网导航          5         711     1769        739        0     2
5   7000  139上网导航          5        8934     5933      22796        0     1
6   7000  139上网导航          6        9228     6819      15712        0    26
7   7000  139上网导航          7        8285     9316      18325        0     3
8   7000  139上网导航          8       16637    15256      17954        0    11
9   7000  139上网导航          8        7858     8869       3364        0    17
10  7000  139上网导航         10       12688    33456     629756        0    18
11  7000  139上网导航         14       19113    13871      27719        0    21
12  7000  139上网导航         14        6828    13337      40427        0    14
13  7000  139上网导航         15       16843    17845      35816        0     5
14  7000  139上网导航         18       21320    25093      57486        0    28
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2772475 entries, 0 to 2772971
Data columns (total 8 columns):
uid           int64
wa_name       object
visit_cnt     int64
visit_dura    int64
up_flow       int64
down_flow     int64
wa_type       int64
date          int64
dtypes: int64(7), object(1)
memory usage: 190.4+ MB
None

In [34]:
test_b_voice_df_2.to_csv('../data/Test-B/test_b_voice_df.csv', index=False)
test_b_sms_df_2.to_csv('../data/Test-B/test_b_sms_df.csv', index=False)
test_b_wa_df_2.to_csv('../data/Test-B/test_b_wa_df.csv', index=False)