In [1]:
%matplotlib inline

In [2]:
import sys
import numpy as np
import pandas as pd
import re as re
import matplotlib.pyplot as plt
import xgboost as xgb

In [3]:
def myPrint(x):
    print(x.head(15))
    print(x.info())
def myPrint2(x):
    print(x)

In [4]:
test_a_sms_df = pd.read_csv('../data/Test-A/test_a_sms_df.csv', header = 0, dtype = {'opp_num': str})

# Feature 7

In [5]:
t1 = test_a_sms_df[test_a_sms_df['in_out'] == 0]

In [6]:
tmp = t1['uid'].value_counts().sort_index()

In [7]:
dict = tmp.to_dict()
tmp2 = pd.Series(index = range(5000, 7000), data = dict)

In [8]:
tmp2 = tmp2.fillna(0)
tmp2 = tmp2.astype('int64')

In [9]:
tmp2.to_csv('../data/Test-A/test_a_feature_7.csv', index=True)

# Feature 8

In [10]:
t2 = test_a_sms_df[test_a_sms_df['in_out'] == 1]

In [11]:
tmp = t2['uid'].value_counts().sort_index()

In [12]:
dict = tmp.to_dict()
tmp2 = pd.Series(index = range(5000, 7000), data = dict)

In [13]:
tmp2 = tmp2.fillna(0)
tmp2 = tmp2.astype('int64')

In [14]:
tmp2.to_csv('../data/Test-A/test_a_feature_8.csv', index=True)

# Feature 9

In [15]:
def do(x):
    hour = int(x % 1000000 / 10000)
    return hour
tmp = test_a_sms_df
test_a_sms_df.loc[:, 'timestamp'] = tmp['start_time'].apply(do)

In [16]:
test_a_1 = test_a_sms_df[test_a_sms_df['in_out'] == 0]
test_a_2 = test_a_sms_df[test_a_sms_df['in_out'] == 1]

In [17]:
myPrint(test_a_1)

     uid                           opp_num  opp_head  opp_len  start_time  \
10  5020  D66F003791F85E1090A30F2E4300DBF6       133       11     1201008
12  5020  0BCB50371DA55F30D596B9A215EA9F50       106       12     1161409
13  5020  A18ADF4B1DD5F8FAAE869144F50ACAAD       188       11     1171927
14  5020  A18ADF4B1DD5F8FAAE869144F50ACAAD       188       11     1172200
15  5020  D66F003791F85E1090A30F2E4300DBF6       133       11     1161533
16  5020  A18ADF4B1DD5F8FAAE869144F50ACAAD       188       11     1172525
34  5996  2BDD5B98F18D1D5DAAE3200064C031E5       131       11     1162403
35  5996  2BDD5B98F18D1D5DAAE3200064C031E5       131       11     1162404
36  5996  611D7364EA8BCF7541FEF283A8FF745B       138       11     1162436
37  5996  E5E01D2E27BD4FF77D878E4BE5A3D6F1       138       11     1162253
38  5996  E5E01D2E27BD4FF77D878E4BE5A3D6F1       138       11     1162253
39  5996  50BE6A5737DD1C928439719AF0EC5F70       138       11     1180202
40  5996  A6C99C45A9D3281C32487552F5E378C5       138       11     1162541
41  5996  D70C1EB14F52BD1BD012077742B868FC       136       11     1162643
42  5996  D351E7B643BA2692C5624A4EF7497DAC       159       11     1162759

    in_out  timestamp
10       0         20
12       0         16
13       0         17
14       0         17
15       0         16
16       0         17
34       0         16
35       0         16
36       0         16
37       0         16
38       0         16
39       0         18
40       0         16
41       0         16
42       0         16
<class 'pandas.core.frame.DataFrame'>
Int64Index: 26819 entries, 10 to 101688
Data columns (total 7 columns):
uid           26819 non-null int64
opp_num       26819 non-null object
opp_head      26819 non-null int64
opp_len       26819 non-null int64
start_time    26819 non-null int64
in_out        26819 non-null int64
timestamp     26819 non-null int64
dtypes: int64(6), object(1)
memory usage: 1.6+ MB
None

In [18]:
ww = test_a_1[(test_a_1['timestamp'] == 22) | (test_a_1['timestamp'] == 23) | (test_a_1['timestamp'] == 0)]

In [19]:
ans = ww['uid'].value_counts().sort_index()

In [20]:
myPrint2(ans)

5005      2
5009    173
5013      1
5015      3
5020      1
5040      1
5041      9
5046      1
5048      1
5054      1
5055      1
5064      1
5066      7
5069      1
5075      1
5077      1
5078      1
5084    669
5086      7
5089      3
5090      3
5099     12
5104      1
5108      3
5109     55
5112      4
5118      5
5130      2
5141      7
5146      1
       ...
6823      1
6833      2
6843      2
6844      2
6855      2
6864      2
6865      3
6872      3
6877      4
6881      8
6890      2
6891      1
6905      1
6906      1
6909      1
6913      1
6914      1
6921      1
6934      4
6938      1
6955      1
6958      1
6960      1
6968      4
6971     10
6973      1
6974      1
6976      5
6985      4
6996      5
Name: uid, Length: 376, dtype: int64

In [21]:
dict = ans.to_dict()
ans2 = pd.Series(index = range(5000, 7000), data = dict)

In [22]:
ans2 = ans2.fillna(0)
ans2 = ans2.astype('int64')

In [23]:
ans2.to_csv('../data/Test-A/test_a_feature_9.csv', index=True)